---
import PageHeader from "@components/page-header.astro";
import Layout from "@layouts/layout.astro";

const heading = "About me";
const description =
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Id exercitationem illo earum quam et aperiam illum fuga fugiat accusantium natus eum iure cupiditate magnam debitis, asperiores sed. Quibusdam, dolorem sapiente.";
---

<Layout title="About me" description="This is about me page">
    <PageHeader heading={heading} description={description}>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
            repudiandae, error corrupti nisi cum vel recusandae exercitationem
            delectus laboriosam, voluptatibus rerum fuga quia accusantium,
            perferendis ipsa in qui sapiente veritatis?
        </p>
    </PageHeader>
</Layout>

<style>
    p {
        margin-block: 1em 0;
        font-size: 1.125rem;
        line-height: 1.3;
        color: var(--clr-muted-foreground);
    }
</style>
