---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog page" description="This is blog page">
    <ol style={{ display: "grid", gap: "1rem", listStylePosition: "inside" }}>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ol>
</Layout>
