:root {
    /* old colors */
    /* --clr-background: hsl(206, 6.4%, 94.5%);
    --clr-foreground: hsl(0, 6.4%, 8.8%);

    --clr-muted-foreground: hsl(0, 6.4%, 20%);
    --clr-brand: hsl(200, 100%, 30%);

    --clr-border: hsl(0, 6.4%, 80%); */
    --clr-blockquote-border: hsl(206, 6.4%, 70%);

    --clr-code-foreground: hsl(20, 93%, 30%);
    --clr-code-background: hsla(26, 93%, 56%, 20%);

    /* new colors */

    --clr-background: hsl(0 0%95%);
    --clr-foreground: hsl(0 0% 6%);
    --clr-muted-background: hsl(0 0% 0% / 0.1);
    --clr-ghost-background: hsl(0 0% 0% / 0.05);
    --clr-primary: hsl(214 94% 43%);
    --clr-border: var(--clr-muted-background);

    --default-font-sans: sans-serif, system-ui;
    --default-font-mono: monospace, ui-monospace;

    @media (prefers-color-scheme: dark) {
        /* old colors */
        /* --clr-background: hsl(0, 6.4%, 8.8%);
        --clr-foreground: hsl(206, 6.4%, 94.5%);

        --clr-border: hsl(0, 6.4%, 30%);

        --clr-brand: hsl(200, 100%, 60%);

        --clr-muted-foreground: hsl(206, 6.4%, 70%); */
        --clr-blockquote-border: hsl(206, 6.4%, 70%);
        --clr-code-foreground: orange;
        --clr-code-background: hsl(26, 93%, 6%);

        /* new colors */

        --clr-background: hsl(0 0% 6%);
        --clr-foreground: hsl(0 0% 95%);
        --clr-muted-background: hsl(0 0% 100% / 0.2);
        --clr-ghost-background: hsl(0 0% 100% / 0.1);
        --clr-primary: hsl(208 100% 62%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--clr-background);
    color: var(--clr-foreground);
    font-family: var(--default-font-sans);
}

::selection {
    background-color: var(--clr-foreground);
    color: var(--clr-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    text-wrap: balance;
    font-weight: inherit;
}

a {
    color: inherit;
}

p,
li {
    max-width: 70ch;
    text-wrap: pretty;
}

body {
    margin-block: 1.2em;
    max-width: 70ch;
    margin: 0 auto;
    padding: 0 1.2em;
    font-size: 16px;

    line-height: 1.5;

    @media (min-width: 768px) {
        padding: 0;
    }
}
