---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;
---

<a href={href}>
    <slot />
</a>

<style>
    a {
        font-family: var(--default-font-sans);
    }
</style>
