---
type Props = {
    heading: string;
    description: string;
};

const { heading, description } = Astro.props;
---

<div class="header">
    <h1 class="header__heading">{heading}</h1>
    <p class="header__description">
        {description}
    </p>
    <slot />
</div>

<style>
    .header__heading {
        font-size: 2.125rem;
        font-weight: 500;
        letter-spacing: -0.025em;
        line-height: 1.5;
    }
    .header__description {
        margin-block: 1em 0;
        font-size: 1.125rem;
        line-height: 1.3;
        color: var(--clr-muted-foreground);
    }
</style>
