---
import FormattedDate from "@components/formatted-date.astro";
import Layout from "./layout.astro";

type Props = {
    title: string;
    description: string;
    posted_on: Date;
};

const { title, description, posted_on } = Astro.props;
---

<Layout title={title} description={description}>
    <article>
        <header class="blog__header">
            <h1 class="blog__title">{title}</h1>
            <span class="blog__posted-on"
                >Posted on <FormattedDate date={posted_on} /></span
            >
        </header>

        <section class="blog__content">
            <slot />
        </section>
    </article>
</Layout>

<style>
    section {
        margin-block: 3em;
    }

    .blog__posted-on {
        font-size: 1rem;
    }

    .blog__header {
        display: grid;
    }

    .blog__title {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: -0.05em;
        display: inline-block;
        margin-block: 1rem;
    }

    .blog__content {
        h2,
        h3 {
            font-weight: 600;
        }

        h2 {
            font-size: 1.95rem;
            line-height: 1.2;
            margin-block: 1em 0.65em;
        }

        h3 + p {
            margin-block: 0 1em;
        }

        h3 {
            font-size: 1.4rem;
            margin-block: 2em 0.8em;
        }

        p:not(blockquote *) {
            font-size: 1.125rem;
            margin-block: 1rem;
        }

        code,
        pre {
            font-family: var(--default-font-mono);
            font-feature-settings: normal;
            font-variation-settings: normal;
            font-size: 1em;
        }

        pre {
            overflow-x: auto;
            padding: 1em 1.25em;
            border-radius: 0.5rem;
            margin-block: 1.5rem;
        }

        code:not(pre *) {
            font-size: 0.95em;
            padding: 2px 6px;
            background-color: var(--clr-code-background);
            border-radius: 0.25rem;
            color: var(--clr-code-foreground);
        }

        ul li::marker,
        ol li::marker {
            color: hsl(0, 0%, 50%);
        }

        ol,
        ul {
            list-style-position: inside;
        }

        ul li,
        ol li {
            margin-block: 0.6em;
            margin-left: 1rem;
            font: 1rem/1.5 var(--default-font-sans);
        }

        ul > li > ul {
            margin-left: 0.6rem;
        }

        ol > li > ol {
            margin-left: 0.6rem;
        }

        blockquote {
            border-left: 1px solid var(--clr-foreground);
            padding: 1rem;
            margin-block: 2.2em;
        }

        blockquote p::before {
            content: "\201C";
        }
        blockquote p::after {
            content: "\201D";
        }

        a {
            color: var(--clr-brand);
            text-underline-offset: 4px;
        }

        /* a::after {
            content: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.04261 6.80966L0.377841 6.14489L5.32102 1.19318H1.50284L1.51136 0.272727H6.90625V5.67614H5.97727L5.9858 1.85795L1.04261 6.80966Z' fill='var(--clr-brand)' /%3E%3C/svg%3E%0A");
            display: inline-block;
            height: 0.5em;
            padding-inline: 0.4em;
            aspect-ratio: 1;
            line-height: 1;
            vertical-align: text-top;
        } */

        a:active {
            color: hsl(206 80% 45%);
        }
        a:hover {
            color: hsl(206 80% 45%);
        }
    }
</style>
